* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 0px;
}

body {
    background-color: gray;
}

a {
    color: #0B74DB;
}

#widgetAgentScript {
    background: #FFFFFF;
    border: 1px solid #EFEFF0;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: min-content;
    position: absolute;
}

.sectionWidget {
    background: #EFEFF0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
}

.authenticateLabel {
    display: flex;
    align-items: center;
    margin-right: 49px;
}

#headerLabel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 119px;
}

#minimizeIcon {
    height: 16px;
    width: 16px;
}

#widgetAgentScriptHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 10px;
    width: 100%;
    height: 32px;
}

#widgetAgentScriptHeader:hover {
    background-color: #c7dfff;
    transition: 0.3s;
}

.headerWidgetLabel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

#userName {
    margin-left: 3px;
}


/* Icons */

#minimizeIcon {
    height: 16px;
    width: 16px;
}

#lockIcon {
    height: 28px;
    width: 28px;
    margin-right: 7px;
}

#tickIcon {
    height: 20px;
    width: 20px;
}

#callReasonIcon {
    height: 28px;
    width: 28px;
    margin-right: 7px;
}

.circle {
    background: hsl(214, 41%, 49%);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: white;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    margin-right: 10px;
}

.instructionOne,
.instructionTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    width: 100%;
}

.instructionOne>p:nth-child(2) {
    font-size: 14px;
    font-weight: 700;
}

.instructionTwo>p:nth-child(2) {
    font-size: 14px;
    font-weight: 700;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.chatbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border: 1px dashed #EFEFF0;
    width: 309px;
    height: 52px;
    gap: 4px;
}

.customerVerify {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 39px;
    gap: 4px;
    width: 100%;
}

.sectionWidget2 {
    background: #EFEFF0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
}

.callReasonLabel {
    display: flex;
    align-items: center;
    margin-right: 49px;
    font-size: 14px;
    font-weight: 700;
}

.callReasonOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 16px;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 18px;
    width: 350px;
}

a {
    text-decoration: none;
    color: var(--clr-input);
    font-size: 14px;
}

button {
    background-color: white;
    border: 1px solid gray;
    color: var(--clr-input);
    border-radius: 6px;
    border: 1px solid #DADADA;
    padding: 10px 20px;
}

select {
    border-radius: 6px;
    border: 1px solid #DBDBDB;
    width: 84px;
    height: 24px;
}

#checkBox {
    border-radius: 50%;
    border: gray;
}

#otherInput {
    height: 24px;
    width: 84px;
    border-radius: 6px;
    border: 1px solid var(--clr-border)
}

:root {
    --clr-input: #3A80DC;
    --clr-border: #DBDBDB;
}